html {
  font-size: 12px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
}

*, :after, :before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button:active, button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  .container {
    padding: 0 32px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 4px;
  }
}
