<section class="info">
	<div class="info__bg">
		<div class="container d-flex position-relative">
			<div class="info__main">
				<div class="info__main__top">
					<h1 class="info__main__top-title fw-bold m-0 text-white">АКТИВИРУЙ ИММУНИТЕТ!</h1>
					<h2 class="info__main__top-text">Всего пять секунд в день помогут укрепить иммунитет <br>и повысить
						защитные силы организма</h2>
				</div>
				
				<div class="info__main__bottom">
					<h2 class="info__main__bottom-title">NOOTRIS ПОМОГАЕТ</h2>
					<p class="info__main__bottom-text">Вашему организму во время пандемии <br>и сезонных простуд</p>
				</div>
			</div>
			<div class="info__img">
				<img src="/img/tables.png" alt="Tablets"  width="712" height="842">
			</div>
		</div>
	</div>
</section>
