.order {

  &__bg {
    background-color: $color4;
  }

  &__header {

  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    color: $color1;
    padding: 8.75rem 0 5rem;

    &--color {
      color: $color2;
    }
  }

  &__btn {
    width: 256px;
    font-size: 1.5rem;
    padding: 14px 32px;
    border-radius: 10px;
    margin: 65px 0 110px;
  }
}

.order-product {

  &__price {
    padding: 0 0 30px;
  }

  &__price-count {
    font-size: 4rem;
    color: $color1;
    padding: 0 16px;

    &--old {
      font-size: 3rem;
      color: $color3;
      text-decoration: line-through;
    }
  }

  &__img {
    padding: 0 0 80px;

    &--lg {
      padding: 0 0 48px;
    }
  }

  &__adv {
    align-self: end;
  }

  &__text {
    font-size: 1.5rem;
    color: $color1;
    margin: 0;
    line-height: 21px;

    &--colored {
      color: $color2;
    }

    &--lg {
      font-size: 3rem;
      line-height: 43px;
      padding-bottom: 8px;
    }

    &--md {
      font-size: 2rem;
      line-height: 28px;
    }
  }
}

@media (max-width: 768px) {
  .order {
    &__title {
      padding: 8.75rem 0 4rem;
    }

    &__btn {
      font-size: 2rem;
      margin: 24px 0;
    }
  }

  .order-product {

    &__adv {
      align-self: center;
    }

    &__price {
      padding: 0;
    }

    &__img {
      padding: 0;

      &--lg {
        padding: 0;
      }
    }

    &__text {
      line-height: 12px;

      &--lg {
      }
    }
  }
}

