<section class="order">
	<div class="order__bg">
		<div class="container text-center">
			
			<div class="order__header">
				<h2 class="order__title">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <br><span class="order__title--color">СО СКИДКОЙ -15% ПЕРВЫМ!</span>
				</h2>
			</div>
			
			<div class="order-product align-items-stretch row">
				
				<div class="order-product__adv offset-1 col-2 align-self-end">
					<img src="img/ginger.png" alt="Имбирь" class="order-product__img">
					<div>
						<p class="order-product__text">Содержит</p>
						<p class="order-product__text order-product__text--colored">имбирь</p>
					</div>
				</div>
				
				<div class="order-product__adv col-6">
					<div class="d-flex order-product__price align-items-center justify-content-center">
						<p class="order-product__price-count order-product__price-count--old">
							<span>&#160</span>750<span>&#8381</span><span>&#160</span>
						</p>
						<p class="order-product__price-count"><span>&#160</span>690<span>&#8381</span></p>
					</div>
					<img src="img/nootris.png" alt="Таблетки" class="order-product__img order-product__img--lg">
					<p class="order-product__text order-product__text--lg">+ Бесплатная доставка</p>
					<p class="order-product__text order-product__text--md order-product__text--colored">Специальная цена</p>
				
				</div>
				
				<div class="order-product__adv col-2 align-self-end">
					<img src="img/virus.png" alt="Вирус" class="order-product__img">
					<div>
						<p class="order-product__text">Нейтрализует</p>
						<p class="order-product__text order-product__text--colored">вирусы</p>
					</div>
				</div>
			</div>
			
			<button type="button" class="order__btn btn btn-warning">Оформить заказ!</button>
		</div>
	</div>
</section>
