<section class="order">
	<div class="order__bg">
		<div class="container text-center">
			<div class="order__header">
				<h2 class="order__header-title">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <br><span class="order__header-title-color">СО СКИДКОЙ -15% ПЕРВЫМ!</span>
				</h2>
			</div>
			<div class="order__main d-flex justify-content-around">
				
				<div class="order__main__left">
					<img src="img/ginger.png" alt="Имбирь" class="order__main__left-img">
					<div>
						<p class="order__main__left-text">Содержит</p>
						<p class="order__main__left-text order__main__left-text-color">имбирь</p>
					</div>
				</div>
				
				<div class="order__main__center">
					<div class="order__main__center-price d-flex align-items-center justify-content-around">
						<p class="order__main__center-price-old text-decoration-line-through">
							<span>&#160</span>750<span>&#8381</span><span>&#160</span></p>
						<p class="order__main__center-price-new">690<span>&#8381</span></p>
					</div>
					<img src="img/nootris.png" alt="Таблетки" class="order__main__center-img">
					<p class="order__main__center-text">+ Бесплатная доставка</p>
					<p class="order__main__center-text order__main__center-text-color">Специальная цена</p>
					<button type="button" class="order__main__center-btn">Оформить заказ!</button>
				</div>
				
				<div class="order__main__right">
					<img src="img/virus.png" alt="Вирус" class="order__main__right-img">
					<div>
						<p class="order__main__right-text">Нейтрализует</p>
						<p class="order__main__right-text order__main__right-text-color">вирусы</p>
					</div>
				</div>
			
			</div>
			<div class="order__btn">
			
			</div>
		</div>
	</div>
</section>
