.order {

  &__bg {
    background-color: black;
  }
  &__header {
    padding: 105px 0 60px;
    &-title {
      font-size: 4rem;
      font-weight: bold;
      color: $color1;

      &-color {
        color: $color2;
      }
    }
  }

  &__price {
    font-size: 4rem;
    color: $color1;
    padding: 0 16px;

    &--old {
      font-size: 3rem;
      color: #ADADAD; // other var
      text-decoration: line-through;
    }
  }

  &__adv {

    &-img {
      padding: 0 0 80px;

      &-center {
        padding: 0 0 38px;
      }
    }

    &-text {
      font-size: 1.5rem;
      color: $color1;
      margin: 0;
      line-height: 24px;
      &-color {
        color: $color2;
      }
    }

    &-btn {
      width: 256px;
      font-size: 1.5rem;
      padding: 14px 32px;
      border-radius: 10px;
      margin: 60px 0 112px;
    }

    &__center {
      &-text {
        font-size: 3rem;
        color: $color1;
        margin: 0;

        &-color {
          font-size: 2rem;
          color: $color2;
        }
      }
    }
  }
}
