<section class="order">
	<div class="order__bg">
		<div class="container text-center">
			
			<div class="order__header">
				<h2 class="order__header-title">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <br><span class="order__header-title-color">СО СКИДКОЙ -15% ПЕРВЫМ!</span>
				</h2>
			</div>
			
			<div class="order__adv align-items-stretch row">
				
				<div class="order__adv offset-1 col-2 align-self-end">
					<img src="img/ginger.png" alt="Имбирь" class="order__adv-img">
					<div>
						<p class="order__adv-text"><small>Содержит</small></p>
						<p class="order__adv-text order__adv-text-color">имбирь</p>
					</div>
				</div>
				
				<div class="order__adv col-6">
					<div class="d-flex align-items-center justify-content-center" style="padding-bottom: 30px">
						<p class="order__price order__price--old">
							<span>&#160</span>750<span>&#8381</span><span>&#160</span>
						</p>
						<p class="order__price"><span>&#160</span>690<span>&#8381</span></p>
					</div>
					<img src="img/nootris.png" alt="Таблетки" class="order__adv-img-center">
					<p class="order__adv__center-text">+ Бесплатная доставка</p>
					<p class="order__adv__center-text order__adv__center-text-color">Специальная цена</p>
				
				</div>
				
				<div class="order__adv col-2 align-self-end">
					<img src="img/virus.png" alt="Вирус" class="order__adv-img">
					<div>
						<p class="order__adv-text">Нейтрализует</p>
						<p class="order__adv-text order__adv-text-color">вирусы</p>
					</div>
				</div>
			</div>
			
			<button type="button" class="order__adv-btn btn btn-warning">Оформить заказ!</button>
		</div>
	</div>
</section>
